* {
  font-size: 38px;
  font-family: 'Source Sans Pro', sans-serif;
}
.main {
  text-align: center;
}
img {
  border-radius: 50%;
  box-shadow: 15px 15px 20px #888;
}
span {
  font-size: 30px;
}
.two-cols{
  flex-direction: horizontal;
}
.two-cols img{
  border-radius: 5px;
  display: block;
  margin-bottom: 30px;
  margin: 0 auto;
}